<table class="profile" summary= "Profile Information" >
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
  <% if @user.microposts.any? %>
  <table class="microposts", summary ="User microposts">
    <%= render @microposts %>
  </table>
  <% end %>
   <%= will_paginate @microposts %>
<tr>
<td class="sidebar round">
	<strong>Name</strong> <%= @user.name %> <br />
	<strong> URL </strong> <%= link_to user_path(@user), @user %>
  <strong> Microposts </strong> <%= @user.microposts.count %>
</td>
</tr>

</table>